
label {
    margin-bottom: 5px;
}
input {
    margin-bottom: 10px;
}

.signin-or-signup {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 18vh;
    padding: 0 20px;
    input {
        margin-bottom: 20px;
    }
    .btn  {
        background: $primary;
        color:$secondary;
        &:hover {
            background:$secondary ; 
            color:$secondary;
        }
        &:active {
            background: $secondary !important; 
            color:$secondary !important;
        }
    }
    
}
.username {
    max-width: 400px;
    margin-top: 20px;
    input {
        margin-bottom: 20px;
    }
    .btn {
        background: $primary;
        color:$secondary;
        max-width: 100px;
        &:hover {
            background: $secondary; 
            color:$secondary !important;
        }
        &:active {
            background: $secondary !important; 
            color:$secondary !important;
        }
    }
    
}
form {
    display: grid;
}

.signup-link {
    text-decoration: underline;
    color: $primary;
}
.is-danger {
    color: $danger;
}


 h1 {
    font-size: 2rem !important;
    text-align: center;
    margin-bottom: 10px !important;
 }

 .msg-signup-or-signin {
    text-align: center;
    margin-top: 5px;
 }

 .help {
    position: relative;
    top: -20px;
 }


   .VueCarousel-inner {
     max-width:89%;

   }

   .VueCarousel-slide {
    max-width: 250px !important;
    height: 120px;
    margin-right: 10px;
    background: $secondary;
    
   div {
    display: flex;
 
    p {
        flex: 1; 
        text-align: center;
    }
    span {
        position: relative;
        top: 5px;
        right: 5px;
        cursor: pointer;
    }
}
   }
.updated {
    text-align: center;
    margin-top: 50px;
}
.discovery {
    h1 {
        text-align: left;
        margin: 10px 0;
    }
    margin-bottom: 10px;
}
.color-toogle {
    background-color: $secondary !important;
}
.toogle  {
    margin-top: 50px !important;
   li{
    display: inline;
    margin-right:   10px;
   }
    
}

.dropdown-content {
    background: $secondary !important;
}
.button  {
    border: none !important;
    &:focus { 
        box-shadow: none !important;
    }
}
a.dropdown-item.is-active {
    background: #c9c9c9 !important;
}

.icon-star {
    display: none;
}
.VueCarousel-slide{
    flex-wrap: wrap;
    padding: 5px;
    p {
        max-width: 100%;
        padding: 0 10px ;
    }
}
.VueCarousel-slide:hover{
    
    transform: scale(1.2) !important;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    z-index: 20;
    .icon-star {
        display: block;
    }
}

.slide {
    padding: 10px;
    height: 140px;
}