
label {
    margin-bottom: 5px;
}
input {
    margin-bottom: 10px;
}

.signin-or-signup {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 18vh;
    padding: 0 20px;
    input {
        margin-bottom: 20px;
    }
   

}

.btn  {
    background: $primary;
    color:$secondary;
    &:active, &:hover {
        background: rgb(68, 68, 68) !important;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    }
    &:active {
        transform: scale(1.05);
    }
}
.username {
    max-width: 400px;
    margin-top: 20px;
    input {
        margin-bottom: 20px;
    }
    .btn {
        max-width: 100px;
    }

}
form {
    display: grid;
}

.signup-link {
    text-decoration: underline;
    color: $primary;
}
.is-danger {
    color: $danger;
}


 h1 {
    font-size: 2rem !important;
    text-align: center;
    margin-bottom: 10px !important;
 }

 .msg-signup-or-signin {
    text-align: center;
    margin-top: 5px;
 }

 .help {
    position: relative;
    top: -20px;
 }

.discovery {
    h1 {
        text-align: left;
        margin: 10px 0;
    }
    margin-bottom: 10px;
}
.color-toogle {
    background-color: $secondary !important;
}
.toogle  {
    margin-top: 50px !important;
   li{
    display: inline;
    margin-right:   10px;
   }

}

.dropdown-content {
    background: $secondary !important;
}
.button-toggle  {
    border: none !important;
    transform: scale(1);
    &:focus {
        box-shadow: none !important;
        transform: scale(1);
    }
}
a.dropdown-item.is-active {
    background: #c9c9c9 !important;
}

.icon-star {
    display: none;
}

.book-marks .fa-star {
    cursor: auto;
    position: relative;
    top: 5px;
}

.VueCarousel-slide  {
  
    margin-right: 10px;
    padding: 10px;
    min-height: 120px;
    display: flex;
    max-width: 250px !important;

        margin-right: 10px;
        background: $secondary;
    div {   
        flex: 1;
    }
    .slide-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
            text-align: center;
           
        }
        div {   
            display: flex;
            p {
                text-align: center;
                position: relative;
            
                flex: 1;
                padding: 0 !important;
                margin: 0 !important;
               
            }
        }
    }
    
}
.VueCarousel-slide:hover{
    transform: scale(1.2) !important;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    z-index: 20;
    .icon-star {
        display: block;
        cursor: pointer;
        position: relative;
        right: 5px;
        top: 5px;
    }
}

   .VueCarousel-inner {
     max-width: 92%;
    
   }

   .slide {
    min-height: 160px;
    padding: 20px 0;
   }